@import url(../stylesheets/loader.css);

@font-face {
  font-family: "cinzel";
  src: url(../assets/fonts/cinzel/Cinzel-VariableFont_wght.woff2);
}

@font-face {
  font-family: "montserrat";
  src: url(../assets/fonts/montserrat/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "sf-pro";
  src: url(../assets/fonts/sf-pro/sf-pro-display_regular.woff2);
}

:root {
  /* Global */
  --global-background: #000000;
  --global-font: #ffffff;
  --section-headings-font: 30px;
  --global-transition: all ease-in-out 300ms;

  /* Scroll Bar */
  --scrollbar-bg: #242424;
  --scroll-thumb-bg: #9d9d9d;

  /* Site Padding (Inline) */
  --inline-padding: 7vw;

  /* Shortcut */
  --shortcut-border: #2323237d;
  --shortcut-text: #a8a8a8;
  --shortcut-font: 11px;

  /* Scroll Indicator */
  --scroll-indicator-border: #2c2c2ca8;
  --scroll-indicator-bg: #1c1c1caa;

  /* Case Study Tab */
  --cst-link-text: #cacaca;

  /* Cursor */
  --cursor-size: 15px;

  /* Loader */
  --loader-bg: #000000dc;
  --loader-text: #f7f7f7;
  --stars: #ffffff;

  /* Header */
  --header-border: #59595933;
  --header-bg: #0a0a0ae7;
  --header-text: #aeaeae;
  --header-text-hover: #fff;
  --header-font: 15px;
  --header-font-family: "montserrat";
  --header-input-hover: #dadada;
  --header-input-font: 13px;
  --header-button-hover: #2c2c2c77;

  /* Buy Panel */
  --buy-panel-bg: var(--header-bg);
  --buy-panel-text: #ffffff;
  --buy-panel-indentation: 2vw;
  --buy-panel-sub-heading: #999;
  --buy-panel-heading: #fff;
  --buy-panel-sub-text: #cacaca;
  --buy-panel-sub-indentation: 15px;
  --buy-panel-links: #d4d4d4;

  /* Search Panel */
  --search-panel-bg: var(--header-bg);
  --search-panel-heading-text: #cacaca;
  --search-panel-links-text: #fff;

  /* Hero */
  --hero-sub-indentation: 25px;
  --hero-sub-text: #ababab;
  --hero-heading-text: #ffffff;
  --hero-cta-border: #4b4b4b4d;
  --hero-cta-bg: #252525a9;
  --hero-cta-text: #ffffff;
  --hero-cta-font: 14px;
  --hero-cta-mover-bg: #000000e1;

  /* Quick Call Strip */
  --qcs-hover-shadow: rgba(255, 204, 0, 0.335);

  /* Monthly Section */
  --ms-section-border: #242424;
  --ms-section-border-hover: #404040;
  --ms-section-bg: #101010;
  --ms-card-border: #59595933;
  --ms-section-sub-text: #cacaca;
  --ms-image-filter: #00000038;
  --ms-frame-padding: 10px;
  --ms-content-inline-indentation: 27px;
  --ms-sub-heading-text: #999999;
  --ms-title-text: #e6e6e6;
  --ms-button-border: #2e2e2e;
  --ms-button-border-hover: #686868;
  --ms-button-bg: #181818;
  --ms-button-bg-hover: #131519;
  --ms-button-text: #cacaca;
  --ms-button-text-hover: #fff;

  /* Featured Listings Section */
  --fls-strip-button-bg: #101010;
  --fls-strip-button-text: #d8d8d8;
  --fls-strip-button-border: #1b1b1b;
  --fls-strip-button-border-hover: #2f2f2f;
  --fls-product-grid-gap: 10px;
  --fls-product-content-bg: transparent;
  --fls-product-content-bg-hover: #111111b6;
  --fls-product-text-padding: 30px;
  --fls-sub-indentation: 7px;

  /* Wallpapers Section */
  --ws-sub-text-indentation: 10px;
  --ws-sub-title: #cacaca;
  --ws-button-border: #292929;

  /* Weekly Subscription Section */
  /* --ws-button-border-hover: #292929; */
  --ws-button-bg: #000000d7;
  --ws-heading-text: #fff;
  --ws-form-input-border: #a5a5a5;
  --ws-input-bg: #6e6e6e6b;
  --ws-sub-text: #cacaca;
  --ws-form-button-border: #1f1f1f;
  --ws-form-button-border-hover: #1a1a1a;
  --ws-form-button-bg: #000;
  --ws-form-button-bg-hover: #111;
  --ws-form-button-text: #cacaca;

  /* Footer */
  --footer-divider: #676767;
  --footer-text: #c0c0c0;
  --footer-links-text: #c0c0c0;
  --footer-copyright-text: #afafaf;
  --footer-highlighter-text: #ffd542;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

html,
body {
  position: relative;
  overflow-x: hidden;

  /* Handled by the disableLoader Function */
  /* Dont touch without reference of disableLoader Function */
  /* Comment to disable Loader */
  /* overflow-y: hidden; */
}

body {
  /* background-color: #000; */
  overflow: hidden;
  /* Handled by the disableLoader Function */
  /* Comment to Disable Loader */
  /* height: 100vh; */
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-bg);
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg);
}

.cursor {
  height: var(--cursor-size);
  width: var(--cursor-size);
  position: fixed;
  /* top: 50%; */
  left: 50%;
  display: none;
  pointer-events: none;
  z-index: 999999;
}

.cursor img {
  height: 100%;
  width: 100%;
}

.cursor svg {
  height: 100%;
  width: 100%;
}

.under-development-alert {
  background: url(../assets/images/backgrounds/background-4.webp) center;
  background-size: cover;
  color: #fff;
  display: none;
  height: 100vh;
  position: relative;
  font-family: "inter";
}

.uda-housing {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(60px) brightness(0.5);
  -webkit-backdrop-filter: blur(60px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.under-development-alert h1 {
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
}

.under-development-alert p {
  font-size: 0.8rem;
  text-align: center;
}

.root {
  /* background-color: var(--global-background); */
  color: var(--global-font);
}

.shortcut {
  border: 1px solid var(--shortcut-border);
  color: var(--shortcut-text);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-family: "montserrat";
  font-size: var(--shortcut-font);
  white-space: nowrap;
}

.scroll-indicator {
  border-top: 1px solid var(--scroll-indicator-border);
  border-bottom: 1px solid var(--scroll-indicator-border);
  border-left: 1px solid var(--scroll-indicator-border);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: var(--scroll-indicator-bg);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 45px;
  width: 80px;
  position: fixed;
  top: 75vh;
  left: 0;
  overflow: hidden;
  user-select: none;
  z-index: 999;
}

.scroll-indicator-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.scroll-indicator-housing p {
  color: rgb(203, 203, 203);
  font-family: "inter";
  font-size: 12px;
}

#sci-image {
  width: 12px;
}

.case-study-link-tab {
  /* border: 1px solid var(--shortcut-border); */
  border-radius: 100px;
  background-color: var(--scroll-indicator-bg);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 50px;
  /* width: 210px; */
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  z-index: 999;
}

.case-study-link-tab-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cslt-icon {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  justify-self: flex-start;
  align-items: center;
}

#cslt-main-icon {
  /* drop: 0px 10px 10px 10px white; */
  filter: drop-shadow(0px 0px 1.5px #cacaca);
  width: 28px;
}

.cslt-link {
  height: 100%;
  width: calc(100% - 50px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  white-space: nowrap;
}

.cslt-link a {
  color: var(--cst-link-text);
  text-decoration: none;
  font-family: "montserrat";
  font-size: 13px;
  position: relative;
}

#cslt-arrow {
  height: 9px;
}

.placeholder-section {
  text-shadow: 1px 1px 40px#000000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "inter";
}

/* Developer's Note */
.developer-note {
  background-color: #f2f2f2;
  color: #0f0f0f;
  height: 30vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "sf-pro";
  user-select: none;
  z-index: -1;
}

.developer-note p {
  color: #1b1b1b;
  font-size: 18px;
  letter-spacing: 0.7px;
  font-weight: 400;
}

.developer-note a {
  border-radius: 6px;
  background-color: rgba(240, 229, 248, 0.667);
  color: #272727;
  box-shadow: 5px 5px 20px 0px rgba(227, 203, 245, 0.486);
  padding: 3px 7px;
  text-decoration: none;
  transition: var(--global-transition);
}

.developer-note a:hover {
  color: #000;
  box-shadow: 0px 0px 10px 1px rgba(89, 70, 104, 0.667);
  transition: var(--global-transition);
}

.developer-note h4 {
  color: #272727;
  font-weight: 800;
  font-size: 32px;
}

.dn-imp {
  color: #000;
}

/* Loader */
.loader {
  background-color: var(--loader-bg);
  color: var(--loader-text);
  height: 100vh;
  width: 100vw;
  display: flex;
  position: fixed;
  user-select: none;
  overflow: hidden;
  z-index: 99999;

  /* Uncomment to disable Loader */
  /* display: none; */
}

.loader-housing {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(30px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 100%;
  width: 100%;
  position: relative;
}

.loader-content {
  letter-spacing: 4px;
  font-family: "cinzel";
  font-weight: 100;
  font-size: 0.8rem;
}

.loader-background {
  background-color: var(--loader-bg);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.stars-container {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: auto;
  overflow: hidden;
}

.star {
  border-radius: 50%;
  background-color: var(--stars);
  height: 1px;
  width: 1px;
  position: absolute;
  opacity: 0;
}

.shooting-star {
  background-color: var(--stars);
  height: 20px;
  width: 1px;
  position: absolute;
  opacity: 0;
  transform: rotate(315deg);
}

.star-1 {
  top: 0;
  left: 20%;
}

.star-2 {
  top: 0;
  left: 5%;
}

.star-3 {
  top: 0;
  left: 50%;
}

.star-4 {
  top: 0;
  left: 80%;
}

.star-5 {
  top: 0;
  left: 35%;
}

.loader-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  z-index: 5;
}

.loader-text {
  position: absolute;
  font-size: 1rem;
}

.loader-text-span-1 {
  opacity: 0;
  filter: blur(5px);
}

.loader-text-span-2 {
  opacity: 0;
  filter: blur(5px);
}

.loader-text-span-3 {
  opacity: 0;
  filter: blur(5px);
}

/* Header */
header {
  height: 7vh;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.37);
  position: fixed;
  user-select: none;
  z-index: 9999;
}

.header-housing {
  border-bottom: 1px solid var(--header-border);
  background-color: var(--header-bg);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--inline-padding);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.header-logo-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo-mini {
  width: 30px;
}

#header-logo {
  width: 160px;
}

.header-content {
  height: 100%;
  width: fit-content;
}

.header-content-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.3rem;
  padding-inline: 1vw;
}

nav a {
  color: var(--header-text);
  padding: 0 5px;
  text-decoration: none;
  font-family: var(--header-font-family);
  /* letter-spacing: 0.8px; */
  font-weight: 500;
  font-size: var(--header-font);
  white-space: nowrap;
  position: relative;
  transition: var(--global-transition);
}

nav a:hover {
  color: var(--header-text-hover);
}

nav a:before {
  content: "";
  background-color: var(--header-text-hover);
  height: 1px;
  width: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: var(--global-transition);
  cursor: pointer;
}

nav a:hover:before {
  width: 100%;
}

.nav-buy {
  cursor: pointer;
}

.nav-span {
  display: inline-block;
  position: relative;
}

.header-search-unit {
  height: 100%;
  /* width: 304px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search-unit-housing {
  height: 100%;
  width: 304px;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.input-container {
  position: relative;
}

#header-input {
  border: none;
  background-color: transparent;
  color: var(--header-input-hover);
  font-family: var(--header-font-family);
  font-size: var(--header-input-font);
  transition: var(--global-transition);
}

#header-input::placeholder {
  color: var(--header-text);
  transition: var(--global-transition);
}

#header-input:focus {
  outline: none;
  border: none;
  cursor: none;
}

#header-input:focus::placeholder {
  color: var(--header-input-hover);
}

#input-shortcut {
  border-radius: 5px;
  position: relative;
  padding: 4px 7px;
}

#search-button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  padding: 7px;
  overflow: hidden;
  cursor: pointer;
  transition: var(--global-transition);
}

#search-button:hover {
  background-color: var(--header-button-hover);
  box-shadow: 0px 0px 10px 0px #080808;
}

#search-button img {
  height: 16px;
  width: 16px;
}

.header-search-unit-small {
  border-radius: 4px;
  /* display: none; */
  padding: 7px;
  cursor: pointer;
}

.header-search-unit-small img {
  height: 16px;
  width: 16px;
}

.header-search-unit-small-panel {
  display: none;
}

.navbar-menu {
  /* display: none; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar-menu img {
  height: 26px;
  width: auto;
}

.buy-nav-panel {
  background-color: var(--buy-panel-bg);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 0;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 7vh;
  display: none;
}

.buy-nav-panel-housing {
  height: 100%;
  width: 100%;
  padding: var(--buy-panel-indentation);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
  /* display: none; */
  opacity: 0;
}

.buy-panel-heading-container {
  width: 100%;
}

.buy-panel-sub-heading {
  color: var(--buy-panel-sub-heading);
  font-family: "cinzel";
  font-weight: 600;
  font-size: 18px;
  padding-inline: var(--buy-panel-sub-indentation);
}

.buy-panel-heading {
  color: var(--buy-panel-heading);
  font-family: "cinzel";
  font-weight: 200;
  font-size: 32px;
}

.buy-panel-sub-text {
  color: var(--buy-panel-sub-text);
  font-family: "montserrat";
  font-size: 11px;
  padding-inline: var(--buy-panel-sub-indentation);
}

.buy-panel-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bp-links {
  height: 70%;
}

.bp-links-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.bp-link {
  width: 15%;
}

.bp-link-sub-heading {
  color: var(--buy-panel-sub-heading);
  font-family: "cinzel";
  font-weight: 300;
  font-size: 14px;
}

.bp-link-heading {
  color: var(--buy-panel-sub-text);
  font-family: "montserrat";
  font-weight: 500;
  font-size: 20px;
}

.bp-link-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: start;
  padding-top: 2rem;
}

.bp-click-links {
  width: 50%;
}

.bp-click-link {
  color: var(--buy-panel-links);
  text-decoration: none;
  font-family: "cinzel";
  font-size: 15px;
  text-align: start;
  white-space: nowrap;
  position: relative;
  transition: all ease-in-out 200ms;
}

.bp-click-link:hover {
  color: var(--global-font);
}

.bp-click-link::before {
  content: "";
  background-color: var(--buy-panel-links);
  height: 1px;
  width: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: var(--global-transition);
}

.bp-click-link:hover::before {
  width: 100%;
}

.bp-v-separator {
  opacity: 0.5;
}

.bp-h-separator {
  opacity: 0.5;
  display: none;
}

.bp-other-links {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  padding: var(--buy-panel-indentation);
}

.bp-other-links-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.bp-link-others {
  color: var(--buy-panel-links);
  font-family: "cinzel";
  position: relative;
  white-space: nowrap;
  text-decoration: none;
}

.bp-link-others::before {
  content: "";
  background-color: var(--buy-panel-links);
  height: 1px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  transition: var(--global-transition);
}

.search-panel {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 7vh;
  opacity: 0;
  display: none;
  z-index: 1;
}

.search-panel-housing {
  background-color: var(--search-panel-bg);
  height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3em;
  z-index: 2;
}

.search-panel-content {
  opacity: 0;
}

.search-panel-heading {
  color: var(--search-panel-heading-text);
  width: 25rem;
  font-family: "cinzel";
  font-weight: 500;
  font-size: 9px;
}

.search-panel-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5em;
  width: 25rem;
}

.search-panel-links a {
  color: var(--search-panel-links-text);
  text-decoration: none;
  font-family: "montserrat";
  font-weight: 500;
  font-size: 16px;
  position: relative;
}

.search-panel-links a::before {
  content: "";
  background-color: var(--search-panel-links-text);
  height: 1px;
  width: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: var(--global-transition);
}

.search-panel-links a:hover::before {
  width: 100%;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Hero Section */
.hero-section {
  height: 80vh;
  width: 100%;
}

.hero-section-housing {
  background: url(../assets/images/backgrounds/background-4.webp);
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

.hero-content {
  height: 100%;
  width: 100%;
}

.hero-content-housing {
  background-color: #0000008f;
  height: 100%;
  width: 100%;
  padding-inline: var(--inline-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  white-space: nowrap;
}

.hero-headings-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#hero-sub-heading {
  color: var(--hero-sub-text);
  font-size: 32px;
  font-family: "cinzel";
  font-weight: 300;
  padding-inline: var(--hero-sub-indentation);
}

#hero-heading {
  color: var(--hero-heading-text);
  font-size: 60px;
  font-family: "montserrat";
  font-weight: 500;
}

.cta-button-wrapper {
  border: 1px solid var(--hero-cta-border);
  border-radius: 8px;
  background: var(--hero-cta-bg);
  color: var(--hero-cta-text);
  height: 50px;
  width: 200px;
  position: relative;
  margin-top: 3vh;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  overflow: hidden;
  user-select: none;
}

#cta-button {
  color: var(--hero-cta-text);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

#cta-text {
  font-family: "montserrat";
  font-size: var(--hero-cta-font);
  z-index: 3;
}

#cta-arrow {
  height: 9px;
  width: 14px;
}

#cta-mover {
  border-radius: 100%;
  background: var(--hero-cta-mover-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.quick-call-strip {
  border-bottom: 1px solid var(--header-border);
  background-color: var(--global-background);
  height: 15vh;
  width: 100%;
  user-select: none;
}

.quick-call-strip-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.strip-icons {
  transition: all ease-in-out 400ms;
}

.strip-icons:hover {
  filter: drop-shadow(0px 0px 10px var(--qcs-hover-shadow));
}

#car-strip-icon {
  width: 150px;
}

#real-estate-strip-icon {
  width: 110px;
}

#watches-strip-icon {
  width: 110px;
}

#yachts-strip-icon {
  width: 140px;
}

#jets-strip-icon {
  width: 140px;
}

.qcs-hr {
  border: none;
  background-color: #111111d0;
  display: none;
  height: 2px;
  width: 100%;
}

.monthly-selections-section {
  /* background-color: #1919194a; */
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 6, 6, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 6, 6, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 6, 6, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  height: 80vh;
  width: 100%;
}

.monthly-selections-section-housing {
  height: 100%;
  width: 100%;
  padding-inline: var(--inline-padding);
}

.ms-section-heading {
  /* background-color: rgb(22, 22, 22); */
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ms-section-heading h2 {
  font-size: var(--section-headings-font);
  font-family: "cinzel";
  font-weight: 300;
}

.ms-section-content {
  /* background-color: rgba(20, 20, 20, 0.579); */
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ms-arrow-holder {
  /* border: 1px solid black; */
  /* background-color: white; */
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ms-arrow-housing {
  border-radius: 5px;
  border: 1px solid var(--ms-section-border);
  background-color: var(--ms-section-bg);
  height: 80px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.ms-arrow-housing img {
  height: 22px;
  filter: drop-shadow(0px 0px 1px white);
}

.ms-card-container::-webkit-scrollbar {
  height: 5px;
}

.ms-card-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
}

/* 
.ms-card-container::-webkit-scrollbar {
  display: none;
} */

.ms-card-container {
  border-top: 1px solid var(--ms-card-border);
  border-inline: 1px solid var(--ms-card-border);
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  overflow: auto;
}

.ms-cards-dragger::-webkit-scrollbar {
  display: none;
}

.ms-cards-dragger {
  /* background-color: #fff; */
  height: 100%;
  width: fit-content;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-inline: 100px;
  overflow: visible;
}

.ms-space-placeholder {
  height: 100%;
  width: 25%;
  display: inline-block;
  flex-shrink: 0;
}

.ms-section-card {
  border: 1px solid var(--ms-section-border);
  border-radius: 14px;
  /* background: linear-gradient(145deg, #3e3e3e 0%, #111111 50%); */
  /* background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); */
  /* background: linear-gradient(
    145deg,
    #242e33 0%,
    #242c31 25%,
    #201d1b 50%,
    #161616 75%,
    #000000 100%
  ); */
  /* background: linear-gradient(145deg, #0a0a0a, #141414, #1f1f1f, #292929, #0a0a0a); */
  /* background: linear-gradient(145deg, #000000, #1c1c1c, #292929, #363636, #000000); */
  /* background: linear-gradient(360deg, #1C1C1C , #494949); */
  /* background: linear-gradient(145deg, #000, #1e2223); */
  background: linear-gradient(90deg, #000000, #1a1e20);
  background-size: 400% 400%;
  /* animation: gradientAnimation 7s ease infinite; */
  display: inline-block;
  flex-shrink: 0;
  height: 450px;
  width: 500px;
  white-space: nowrap;
  transition: var(--global-transition);
  overflow: hidden;
}

.ms-section-card:hover {
  border: 1px solid var(--ms-section-border-hover);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ms-card-image {
  /* border-top-left-radius: 14px;
  border-top-right-radius: 14px; */
  height: 65%;
  width: 100%;
  padding: var(--ms-frame-padding);
  position: relative;
  overflow: hidden;
}

.ms-card-image-housing {
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.ms-card-image-housing img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left center;
}

.ms-card-image-filter {
  background-color: var(--ms-image-filter);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ms-card-content {
  /* background-color: gray; */
  height: 20%;
  width: 100%;
  padding-inline: var(--ms-content-inline-indentation);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ms-card-info {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.ms-c-sub-heading {
  /* background-color: #fff; */
  color: var(--ms-sub-heading-text);
  display: flex;
  justify-content: start;
  align-items: flex-end;
  gap: 0.5em;
  font-family: "cinzel";
  font-weight: 100;
}

#ms-c-sub-title {
  /* background-color: yellow; */
  font-size: 16px;
}

#ms-c-additional-info {
  /* background-color: pink; */
  font-size: 11px;
}

#ms-c-additional-note {
  font-size: 11px;
}

.ms-c-title {
  color: var(--ms-title-text);
  font-family: "montserrat";
  font-weight: 100;
  font-size: 12px;
}

.ms-card-price {
  /* background-color: blue; */
  color: var(--ms-section-sub-text);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
  font-weight: 100;
  font-size: 22px;
}

.ms-card-button-wrapper {
  /* background-color: #fff; */
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ms-card-button {
  border: 1px solid var(--ms-button-border);
  border-radius: 24px;
  background: var(--ms-button-bg);
  color: var(--ms-button-text);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 36px;
  /* width: 80%; */
  width: 200px;
  text-decoration: none;
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 400ms;
}

.ms-card-button:hover {
  border: 1px solid var(--ms-button-border-hover);
  background: var(--ms-button-bg-hover);
  color: var(--ms-button-text-hover);
}

.ms-section-sub-text {
  color: var(--ms-section-sub-text);
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--section-sub-headings-font);
  font-family: "montserrat";
  font-size: 11px;
  font-weight: 100;
}

.featured-listing-section {
  background-color: var(--global-background);
  /* height: 80vh; */
  width: 100%;
}

.featured-listing-section-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.fls-heading {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 40px 0px;
}

.fls-heading h2 {
  font-size: var(--section-headings-font);
  font-family: "cinzel";
  font-weight: 300;
}

.fls-filter-strip {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.fls-filter-strip button {
  /* border: 1px solid transparent; */
  border: 1px solid #1b1b1b;
  border-radius: 6px;
  background-color: var(--fls-strip-button-bg);
  color: var(--fls-strip-button-text);
  font-family: "montserrat";
  font-size: 12px;
  font-weight: 300;
  padding: 5px 12px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

.fls-content {
  /* background-color: rgb(17, 17, 17); */
  /* height: 80%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fls-content-housing {
  height: 100%;
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: auto; */
  /* gap: 7px; */
  
  height: fit-content;
  width: fit-content;
  display: grid;
  gap: 7px;
  grid-template-areas:
    ". . . ."
    ". . . .";

  padding: 30px 7px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.fls-product-card {
  /* max-height: 28vh; */
  /* max-width: 24vw; */
  overflow: hidden;
  transition: var(--global-transition);
}

.fls-product-card:hover {
  transform: translateZ(10px);
}

.fls-product-card-housing {
  height: 100%;
  width: 100%;
  position: relative;
}

.fls-product-image {
  height: 100%;
  width: 100%;
}

.fls-product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fls-product-content {
  /* background-color: var(--fls-product-content-bg); */

  background-color: var(--fls-product-content-bg-hover);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  user-select: none;
  cursor: default;
}

.fls-product-content-housing {
  height: 100%;
  width: 100%;
  opacity: 0;
}

.fls-product-info {
  /* background-color: gray; */
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.fls-product-about {
  /* background-color: #252525; */
  width: 80%;
}

.fls-product-sub-title {
  /* background-color: gray; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5em;
  padding-inline: var(--fls-sub-indentation);
}

.fls-product-company {
  font-family: "cinzel";
  font-size: 14px;
}

.fls-ad-info {
  font-family: "cinzel";
  font-size: 12px;
}

.fls-product-title h2 {
  font-family: "montserrat";
  font-size: 24px;
}

.fls-product-price {
  /* background-color: #252525; */
  /* height: 100%; */
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fls-product-price p {
  font-family: "cinzel";
  font-size: 24px;
}

.fls-product-text {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-inline: var(--fls-product-text-padding);
}

.fls-product-text p {
  font-size: 12px;
  font-family: "montserrat";
  text-align: start;
  text-transform: lowercase;
}

.fls-product-button {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fls-product-button a {
  border-radius: 6px;
  background-color: #101010;
  padding: 8px 14px;
  color: var(--fls-product-button-text);
  text-decoration: none;
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 300;
}

.wallpapers-section {
  background-color: var(--global-background);
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--inline-padding);
}

.ws-heading {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: nowrap;
  padding-inline: var(--inline-padding);
}

.ws-sub-title p {
  color: var(--ws-sub-title);
  font-family: "cinzel";
  font-weight: 100;
  font-size: 20px;
  padding-inline: var(--ws-sub-text-indentation);
}

.ws-title h2 {
  font-family: "montserrat";
  font-weight: 500;
  font-size: 42px;
}

.ws-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ws-device-showcase img {
  width: 600px;
}

.ws-explore-button {
  border: 1px solid var(--ws-button-border);
  border-radius: 12px;
  height: 2.5rem;
  width: 8rem;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--global-transition);
  cursor: pointer;
  z-index: 1;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 270deg;
  inherits: false;
}

.ws-explore-button::before,
.ws-explore-button::after {
  content: "";
  --angle: 270deg;
  border-radius: 12px;
  background-image: linear-gradient(
    var(--angle),
    /* #000 0%, */ #1d1b24 10%,
    #a0a6d0 30%,
    #fff 50%,
    #a5a9cb 70%,
    #1d1b24 90% /* #000 100% */
  );
  height: calc(100% + 3px);
  width: calc(100% + 4px);
  position: absolute;
  top: 50%;
  left: 50%;
  /* padding: 2px 1px; */
  transition: var(--global-transition);
  transform: translate(-50%, -50%);
  animation: ws_button_hover 3s linear infinite;
  animation-play-state: paused;
  z-index: -1;
}

.ws-explore-button:hover::before,
.ws-explore-button:hover::after {
  /* background-image: linear-gradient(
    var(--angle),
    #3b3849 10%,
    #a0a6d0 30%,
    #fff 50%,
    #a5a9cb 70%,
    #3a3946 90%
    ); */
  animation-play-state: running;
}

@keyframes ws_button_hover {
  0% {
    --angle: 270deg;
  }
  50% {
    --angle: 180deg;
  }
  100% {
    --angle: 90deg;
  }
}

#ws-explore-button {
  /* border: 1px solid var(--ws-button-border); */
  border: none;
  border-radius: 12px;
  background-color: var(--ws-button-bg);
  color: var(--global-font);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 2.5rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-family: "montserrat";
  cursor: pointer;
}

.week-sub-section {
  background: url(../assets/images/week-sub-section/macosmojavexwings.webp);
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.ws-section-housing {
  background-color: transparent;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px) brightness(0.5);
  -webkit-backdrop-filter: blur(60px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ws-section-header {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: var(--inline-padding);
}

.ws-header-heading {
  color: var(--ws-heading-text);
  font-family: "cinzel";
  font-weight: 100;
  font-size: 32px;
}

.ws-header-sub-text {
  color: var(--ws-sub-text);
  font-family: "montserrat";
  font-weight: 300;
  font-size: 14px;
}

.week-section-form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ws-form {
  height: 20vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.ws-input {
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--ws-form-input-border);
  background-color: transparent;
  color: var(--global-font);
  height: 30px;
  width: 350px;
  padding: 5px 10px;
  font-size: 15px;
  font-family: "cinzel";
  transition: var(--global-transition);
}

.ws-input:focus {
  /* border: 1px solid var(--ws-form-input-border); */
  box-shadow: 0px 0px 100px 0px #000000;
}

.ws-input::placeholder {
  color: #cacaca;
  font-size: 15px;
}

.ws-submit {
  border: 1px solid var(--ws-form-button-border);
  border-radius: 6px;
  background-color: var(--ws-form-button-bg);
  color: var(--ws-form-button-text);
  box-shadow: 0px 0px 10px 1px #242424;
  font-size: 12px;
  font-weight: 800;
  font-family: "montserrat";
  padding: 7px 25px;
  cursor: pointer;
  transition: var(--global-transition);
}

.ws-submit:hover {
  border: 1px solid var(--ws-form-button-border-hover);
  background-color: var(--ws-form-button-bg-hover);
}

/* Footer */
footer {
  background-color: var(--global-background);
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.footer-half-1 {
  height: 49vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vw;
}

.footer-links {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.footer-link-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.footer-link-section h3 {
  color: var(--footer-text);
  font-size: 30px;
  font-family: "cinzel";
  font-weight: 100;
}

.footer-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
}

.footer-link a {
  color: var(--footer-text);
  font-size: 13px;
  font-family: "montserrat";
  text-decoration: none;
  position: relative;
  opacity: 0.8;
  transition: var(--global-transition);
}

.footer-link a::before {
  content: "";
  background-color: var(--footer-text);
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 0%;
  transition: var(--global-transition);
}

.footer-link a:hover::before {
  content: "";
  background-color: var(--footer-text);
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 100%;
}

.footer-socials {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.fs-title h3 {
  color: var(--footer-text);
  font-family: "cinzel";
  font-weight: 100;
}

.fs-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fs-social-links img {
  width: 26px;
}

.footer-divider {
  background-color: var(--footer-divider);
  height: 1px;
  width: 80%;
}

.footer-half-2 {
  height: 21vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  /* background-color: #fff; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-copyright-text {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-copyright-text p {
  color: var(--footer-copyright-text);
  font-family: "montserrat";
  font-weight: 100;
  font-size: 14px;
}

.footer-copyright-statement {
  color: var(--global-font);
  font-weight: 100;
  font-size: 15px;
}

.footer-highlighted-text {
  color: var(--footer-highlighter-text);
}

.dev-note-cover {
  /* background-color: red; */
  height: 30vh;
  width: 100%;
  pointer-events: none;
  z-index: 2;
}
