/* @import url(../stylesheets/loader.css); */

@font-face {
  font-family: "cinzel";
  src: url(../assets/fonts/cinzel/Cinzel-VariableFont_wght.woff2);
}

@font-face {
  font-family: "montserrat";
  src: url(../assets/fonts/montserrat/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "sf-pro";
  src: url(../assets/fonts/sf-pro/sf-pro-display_regular.woff2);
}

:root {
  /* Global */
  --global-transition: all ease-in-out 300ms;
  --global-background: #000000;
  --global-font: #ffffff;
  --section-headings-font: 30px;

  /* Scroll Bar */
  --scrollbar-bg: #242424;
  --scroll-thumb-bg: #9d9d9d;

  /* Site Padding (Inline) */
  --inline-padding: 7vw;

  /* Shortcut */
  --shortcut-border: #2323237d;
  --shortcut-text: #a8a8a8;
  --shortcut-font: 11px;

  /* Scroll Indicator */
  --scroll-indicator-border: #2c2c2ca8;
  --scroll-indicator-bg: #1c1c1caa;

  /* Case Study Tab */
  --cst-link-text: #cacaca;

  /* Cursor */
  --cursor-size: 15px;

  /* Loader */
  --loader-bg: #000000dc;
  --loader-text: #f7f7f7;
  --stars: #ffffff;

  /* Header */
  --header-border: #59595933;
  --header-bg: #0a0a0ae7;
  --header-text: #aeaeae;
  --header-text-hover: #fff;
  --header-font: 15px;
  --header-font-family: "montserrat";
  --header-input-hover: #dadada;
  --header-input-font: 13px;
  --header-button-size: 18px;
  --header-button-hover: #2c2c2c77;

  /* Buy Panel */
  --buy-panel-bg: var(--header-bg);
  --buy-panel-text: #ffffff;
  --buy-panel-indentation: 2vw;
  --buy-panel-sub-heading: #999;
  --buy-panel-heading: #fff;
  --buy-panel-sub-text: #cacaca;
  --buy-panel-sub-indentation: 15px;
  --buy-panel-links: #d4d4d4;

  /* Search Panel */
  --search-panel-bg: var(--header-bg);
  --search-panel-heading-text: #cacaca;
  --search-panel-links-text: #fff;

  /* Hero */
  --hero-sub-indentation: 25px;
  --hero-sub-text: #ababab;
  --hero-heading-text: #ffffff;
  --hero-cta-bg: #303030a9;
  --hero-cta-text: #e4e4e4;
  --hero-cta-font: 14px;
  --hero-cta-mover-bg: #000000bd;

  /* Quick Call Strip */
  --qcs-hover-shadow: rgba(255, 204, 0, 0.335);

  /* Monthly Section */
  --ms-section-border: #242424;
  --ms-section-border-hover: #404040;
  --ms-section-bg: #101010;
  --ms-card-border: #59595933;
  --ms-section-sub-text: #cacaca;
  --ms-image-filter: #00000038;
  --ms-frame-padding: 10px;
  --ms-content-inline-indentation: 27px;
  --ms-sub-heading-text: #999999;
  --ms-title-text: #e6e6e6;
  --ms-button-border: #2e2e2e;
  --ms-button-border-hover: #686868;
  --ms-button-bg: #181818;
  --ms-button-bg-hover: #131519;
  --ms-button-text: #cacaca;
  --ms-button-text-hover: #fff;

  /* Featured Listings Section */
  --fls-strip-button-bg: #101010;
  --fls-strip-button-text: #d8d8d8;
  --fls-strip-button-border: #1b1b1b;
  --fls-strip-button-border-hover: #2f2f2f;
  --fls-product-grid-gap: 10px;
  --fls-product-content-bg: transparent;
  --fls-product-content-bg-hover: #111111b6;
  --fls-product-text-padding: 30px;
  --fls-sub-indentation: 7px;

  /* Wallpapers Section */
  --ws-sub-text-indentation: 10px;
  --ws-sub-title: #cacaca;
  --ws-button-border: #292929;

  /* --ws-button-border-hover: #292929; */
  --ws-button-bg: #000000d7;
  --ws-heading-text: #fff;
  --ws-form-input-border: #a5a5a5;
  --ws-input-bg: #6e6e6e6b;
  --ws-sub-text: #cacaca;
  --ws-form-button-border: #1f1f1f;
  --ws-form-button-border-hover: #1a1a1a;
  --ws-form-button-bg: #000;
  --ws-form-button-bg-hover: #111;
  --ws-form-button-text: #cacaca;

  /* Footer */
  --footer-divider: #676767;
  --footer-text: #c0c0c0;
  --footer-links-text: #c0c0c0;
  --footer-copyright-text: #afafaf;
  --footer-highlighter-text: #ffd542;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

html,
body {
  position: relative;
  overflow-x: hidden;

  /* Comment to disable Loader */
  overflow-y: hidden;
}

body {
  overflow: hidden;
  /* Comment to Disable Loader */
  height: 100vh;
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-bg);
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg);
}

.cursor {
  height: var(--cursor-size);
  width: var(--cursor-size);
  position: fixed;
  /* top: 50%; */
  left: 50%;
  display: none;
  pointer-events: none;
  z-index: 999999;
}

.cursor img {
  height: 100%;
  width: 100%;
}

.cursor svg {
  height: 100%;
  width: 100%;
}

.root {
  background-color: var(--global-background);
  color: var(--global-font);
}

.shortcut {
  border: 1px solid var(--shortcut-border);
  color: var(--shortcut-text);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-family: "montserrat";
  font-size: var(--shortcut-font);
  white-space: nowrap;
}

.scroll-indicator {
  border-top: 1px solid var(--scroll-indicator-border);
  border-bottom: 1px solid var(--scroll-indicator-border);
  border-left: 1px solid var(--scroll-indicator-border);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: var(--scroll-indicator-bg);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 45px;
  width: 80px;
  position: fixed;
  top: 75vh;
  left: 0;
  overflow: hidden;
  user-select: none;
  z-index: 999;
}

.scroll-indicator-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.scroll-indicator-housing p {
  color: rgb(203, 203, 203);
  font-family: "inter";
  font-size: 12px;
}

#sci-image {
  width: 12px;
}

.case-study-link-tab {
  border: 1px solid var(--shortcut-border);
  border-radius: 100px;
  background-color: var(--scroll-indicator-bg);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-backdrop-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 50px;
  /* width: 210px; */
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  z-index: 999;
}

.case-study-link-tab-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cslt-icon {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  justify-self: flex-start;
  align-items: center;
}

#cslt-main-icon {
  /* drop: 0px 10px 10px 10px white; */
  filter: drop-shadow(0px 0px 1.5px #cacaca);
  width: 28px;
}

.cslt-link {
  height: 100%;
  width: calc(100% - 50px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  white-space: nowrap;
}

.cslt-link a {
  color: var(--cst-link-text);
  text-decoration: none;
  font-family: "montserrat";
  font-size: 13px;
  position: relative;
}

#cslt-arrow {
  height: 9px;
}

.placeholder-section {
  text-shadow: 1px 1px 40px#000000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "inter";
}

.developer-note {
  background-color: #f2f2f2;
  color: #0f0f0f;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "sf-pro";
  user-select: none;
}

.developer-note p {
  color: #1b1b1b;
  font-size: 18px;
  letter-spacing: 0.7px;
  font-weight: 400;
}

.developer-note h4 {
  color: #272727;
  font-weight: 800;
  font-size: 32px;
}

.dn-imp {
  color: #272727;
  font-weight: 600;
}