@import url(../stylesheets/main-styles.css);

@media only screen and (orientation: portrait) {
  #header-logo-mini {
    display: flex;
    width: 26px;
  }
  #header-logo {
    display: none;
  }
}

@media only screen and (orientation: landscape) {
  #header-logo-mini {
    display: none;
    width: 26px;
  }
  #header-logo {
    display: flex;
  }
}

/* Under Development Screen */
/*****************************/
/* @media only screen and (max-width: 600px) {
  .under-development-alert {
    display: flex;
  }
  .loader {
    display: none;
  }
  .root {
    display: none;
  }
} */
/*****************************/
/* Under Development Screen */

/* Touch Screen */
@media (pointer: coarse) {
  /* Header */
  nav a:before {
    display: none;
  }

  /* Quick Links Strip */
  .strip-icons:hover {
    filter: none;
  }

  /* Featured Listing Section */
  .fls-product-content {
    display: none;
  }

  /* Wallpaper Section */
  .ws-explore-button:hover::before,
  .ws-explore-button:hover::after {
    animation-play-state: paused;
  }

  /* Weekly Subscription Section */
  .ws-submit:hover {
    border: 1px solid var(--ws-form-button-border);
    background-color: var(--ws-form-button-bg);
  }

  /* Footer */
  .footer-link a::before {
    display: none;
  }
}
@media (hover: none) {
  /* Header */
  nav a:before {
    display: none;
  }

  /* Quick Links Strip */
  .strip-icons:hover {
    filter: none;
  }

  /* Featured Listing Section */
  .fls-product-content {
    display: none;
  }

  /* Wallpaper Section */
  .ws-explore-button:hover::before,
  .ws-explore-button:hover::after {
    animation-play-state: paused;
  }

  /* Footer */
  .footer-link a::before {
    display: none;
  }
  .footer-link-section h3 {
    font-size: 30px;
  }
}

/* 4K Screens */
@media only screen and (min-width: 1441px) {
  /* Root */
  :root {
    --inline-padding: 7vw;
    --hero-cta-font: 14px;
    --section-headings-font: 30px;
  }

  /* Loader */
  .loader-text {
    font-size: 1.5rem;
  }

  /* Header */
  header {
    height: 7vh;
  }
  #header-logo-mini {
    width: 30px;
  }
  .navbar {
    display: flex;
  }
  .navbar-menu {
    display: none;
  }
  .header-search-unit-housing {
    display: flex;
  }
  .header-search-unit-small {
    display: none;
  }
  .navbar-menu-panel {
    display: none;
  }

  /* Main */
  /* Hero Section */
  .hero-section {
    height: 80vh;
    width: 100%;
  }
  #hero-sub-heading {
    font-size: 32px;
  }
  #hero-heading {
    font-size: 60px;
  }
  .cta-button-wrapper {
    height: 50px;
    width: 200px;
  }

  /* Quick Call Strip */
  .quick-call-strip {
    height: 15vh;
  }
  #car-strip-icon {
    width: 150px;
  }
  #real-estate-strip-icon {
    width: 110px;
  }
  #watches-strip-icon {
    width: 110px;
  }
  #yachts-strip-icon {
    width: 140px;
  }
  #jets-strip-icon {
    width: 140px;
  }

  /* Monthly Selection Section */
  .monthly-selections-section {
    height: 80vh;
  }
  .ms-section-card {
    height: 450px;
    width: 500px;
  }

  /* Featured Listings Section */
  .fls-filter-strip {
    gap: 1.5rem;
  }

  /* Wallpaper Section */
  .ws-sub-title p {
    font-size: 19px;
  }
  .ws-title h2 {
    font-size: 40px;
  }

  /* Footer */
  .footer-half-1 {
    height: 49vh;
  }
  .footer-link-section h3 {
    font-size: 30px;
  }
  .footer-link a {
    font-size: 12px;
  }
  .fs-title h3 {
    font-size: 18px;
  }
  .fs-social-links img {
    width: 26px;
  }
  .footer-half-2 {
    height: 51vh;
  }
  .footer-logo {
    height: 50px;
  }
  .footer-copyright-text {
    height: 30px;
  }
  .footer-copyright-text p {
    font-size: 14px;
  }
  .footer-copyright-statement {
    font-size: 15px;
  }

  /* Developer's Note */
  .developer-note p {
    font-size: 18px;
  }
  .developer-note h4 {
    font-size: 32px;
  }
}

/* Large Laptop Screens */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Root */
  :root {
    --inline-padding: 5vw;
    --hero-cta-font: 14px;
    --section-headings-font: 28px;
  }

  /* Loader */
  .loader-text {
    font-size: 1.2rem;
  }

  /* Header */
  header {
    height: 7vh;
  }
  #header-logo-mini {
    width: 30px;
  }
  .navbar {
    display: flex;
  }
  .navbar-menu {
    display: none;
  }
  .header-search-unit-housing {
    display: flex;
  }
  .header-search-unit-small {
    display: none;
  }
  .navbar-menu-panel {
    display: none;
  }

  /* Main */
  /* Hero Section */
  .hero-section {
    height: 80vh;
    width: 100%;
  }
  #hero-sub-heading {
    font-size: 28px;
  }
  #hero-heading {
    font-size: 50px;
  }
  .cta-button-wrapper {
    height: 50px;
    width: 200px;
  }

  /* Quick Call Strip */
  .quick-call-strip {
    height: 15vh;
  }
  #car-strip-icon {
    width: 130px;
  }
  #real-estate-strip-icon {
    width: 90px;
  }
  #watches-strip-icon {
    width: 90px;
  }
  #yachts-strip-icon {
    width: 120px;
  }
  #jets-strip-icon {
    width: 120px;
  }

  /* Monthly Selection Section */
  .monthly-selections-section {
    height: 80vh;
  }
  .ms-section-card {
    height: 420px;
    width: 480px;
  }

  /* Featured Listings Section */
  .fls-filter-strip {
    gap: 1.5rem;
  }

  /* Wallpaper Section */
  .wallpapers-section {
    height: 70vh;
  }
  .ws-sub-title p {
    font-size: 14px;
  }
  .ws-title h2 {
    font-size: 32px;
  }
  .ws-device-showcase img {
    height: auto;
    width: 470px;
  }
  .ws-explore-button {
    border-radius: 8px;
    scale: 0.8;
  }

  /* Week Subscription Section */
  .ws-header-heading {
    font-size: 30px;
  }
  .ws-header-sub-text {
    font-size: 12px;
  }
  .ws-input {
    height: 27px;
    width: 340px;
    font-size: 13px;
  }
  .ws-submit {
    font-size: 11px;
  }

  /* Footer */
  .footer-half-1 {
    height: 49vh;
  }
  .footer-link-section h3 {
    font-size: 24px;
    white-space: nowrap;
  }
  .footer-link a {
    font-size: 11px;
  }
  .fs-title h3 {
    font-size: 17px;
  }
  .fs-social-links img {
    width: 24px;
  }
  .footer-half-2 {
    height: 51vh;
  }
  .footer-logo {
    height: 45px;
  }
  .footer-copyright-text {
    height: 30px;
  }
  .footer-copyright-text p {
    font-size: 11px;
  }
  .footer-copyright-statement {
    font-size: 13px;
  }

  /* Developer's Note */
  .developer-note p {
    font-size: 16px;
  }
  .developer-note h4 {
    font-size: 28px;
  }
}

/* Laptop Screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Root */
  :root {
    --inline-padding: 4vw;
    --hero-cta-font: 13px;
    --section-headings-font: 26px;
  }

  /* Loader */
  .loader-text {
    font-size: 1rem;
  }

  /* Header */
  header {
    height: 7vh;
  }
  #header-logo-mini {
    width: 30px;
  }
  .navbar {
    display: flex;
  }
  .navbar-menu {
    display: none;
  }
  .header-search-unit-housing {
    display: none;
  }
  .header-search-unit-small {
    display: flex;
  }
  .header-search-unit-small img {
    height: 16px;
    width: 16px;
  }
  .navbar-menu-panel {
    display: none;
  }

  /* Main */
  /* Hero Section */
  .hero-section {
    height: 70vh;
    width: 100%;
  }
  #hero-sub-heading {
    font-size: 26px;
  }
  #hero-heading {
    font-size: 46px;
  }
  .cta-button-wrapper {
    height: 45px;
    width: 190px;
  }

  /* Quick Call Strip */
  .quick-call-strip {
    height: 12vh;
  }
  #car-strip-icon {
    width: 110px;
  }
  #real-estate-strip-icon {
    width: 70px;
  }
  #watches-strip-icon {
    width: 70px;
  }
  #yachts-strip-icon {
    width: 120px;
  }
  #jets-strip-icon {
    width: 120px;
  }

  /* Monthly Selection Section */
  .monthly-selections-section {
    height: 70vh;
  }
  .ms-section-card {
    height: 380px;
    width: 440px;
  }

  /* Featured Listings Section */
  .fls-filter-strip {
    gap: 1.3rem;
  }

  /* Wallpaper Section */
  .wallpapers-section {
    height: 65vh;
  }
  .ws-sub-title p {
    font-size: 12px;
  }
  .ws-title h2 {
    font-size: 24px;
  }
  .ws-device-showcase img {
    height: auto;
    width: 300px;
  }
  .ws-explore-button {
    border-radius: 8px;
    scale: 0.7;
  }

  /* Week Subscription Section */
  .ws-header-heading {
    font-size: 23px;
  }
  .ws-header-sub-text {
    font-size: 11px;
    white-space: nowrap;
  }
  .ws-input {
    height: 25px;
    width: 300px;
    font-size: 11px;
  }
  .ws-submit {
    font-size: 9px;
  }

  /* Footer */
  .footer-half-1 {
    height: 49vh;
    padding: 4vw 0vw;
  }
  .footer-link-section h3 {
    font-size: 16px;
    white-space: nowrap;
  }
  .footer-link a {
    font-size: 9px;
  }
  .footer-links {
    padding-inline: 3vw;
  }
  .footer-socials {
    width: 20%;
  }
  .fs-social-links {
    flex-direction: column;
  }
  .fs-title h3 {
    font-size: 16px;
  }
  .fs-social-links img {
    width: 18px;
  }
  .footer-half-2 {
    height: 51vh;
  }
  .footer-logo {
    height: 38px;
  }
  .footer-copyright-text {
    height: 30px;
  }
  .footer-copyright-text p {
    font-size: 10px;
  }
  .footer-copyright-statement {
    font-size: 12px;
  }

  /* Developer's Note */
  .developer-note {
    gap: 10px;
  }
  .developer-note p {
    font-size: 15px;
  }
  .developer-note h4 {
    font-size: 26px;
  }
}

/* Tablet Screens */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  /* Root */
  :root {
    --inline-padding: 5vw;
    --hero-cta-font: 12px;
    --section-headings-font: 23px;
  }

  /* Loader */
  .loader-text {
    font-size: 0.9rem;
  }

  /* Header */
  header {
    height: 7.5vh;
  }
  #header-logo-mini {
    width: 28px;
  }
  .navbar {
    display: none;
  }
  .navbar-menu {
    display: flex;
  }
  .header-search-unit-housing {
    display: none;
  }
  .header-search-unit-small {
    display: flex;
  }
  .header-search-unit-small img {
    height: 15px;
    width: 15px;
  }
  .navbar-menu img {
    height: 26px;
    width: auto;
  }
  .navbar-menu-panel nav {
    padding: 10%;
  }

  /* Main */
  /* Hero Section */
  .hero-section {
    height: 50vh;
    width: 100%;
  }
  .hero-content-housing {
    align-items: flex-start;
  }
  #hero-sub-heading {
    font-size: 20px;
  }
  #hero-heading {
    font-size: 30px;
    white-space: wrap;
  }
  .cta-button-wrapper {
    height: 40px;
    width: 175px;
  }

  /* Quick Call Strip */
  #car-strip-icon {
    width: 100px;
  }
  #real-estate-strip-icon {
    width: 80px;
  }
  #watches-strip-icon {
    width: 80px;
  }
  #yachts-strip-icon {
    width: 70px;
  }
  #jets-strip-icon {
    width: 70px;
  }

  /* Monthly Selection Section */
  .monthly-selections-section {
    height: 60vh;
  }
  .ms-section-card {
    height: 220px;
    width: 290px;
  }
  .ms-arrow-holder {
    display: none;
  }
  .ms-c-title {
    font-size: 7px;
  }
  #ms-c-sub-title {
    font-size: 7px;
  }
  #ms-c-additional-info {
    font-size: 5px;
  }
  .ms-card-price {
    font-size: 12px;
  }
  .ms-card-button {
    height: 18px;
    width: 84px;
    font-size: 9px;
  }
  .ms-section-sub-text {
    font-size: 7px;
  }

  /* Featured Listings Section */
  .fls-filter-strip {
    gap: 1rem;
  }
  #fls-fs-8 {
    display: none;
  }
  #fls-fs-7 {
    display: none;
  }
  .fls-content-housing {
    grid-template-areas:
      ". . ."
      ". . .";
  }
  #fls-card-8 {
    display: none;
  }
  #fls-card-7 {
    display: none;
  }

  /* Wallpaper Section */
  .wallpapers-section {
    /* height: 65vh; */
    height: 60vh;
    flex-direction: column;
  }
  .ws-heading {
    height: 40%;
    width: 100%;
    align-items: center;
  }
  .ws-sub-title p {
    font-size: 12px;
  }
  .ws-title h2 {
    font-size: 24px;
    text-align: center;
  }
  .ws-content {
    height: auto;
    width: 100%;
  }
  .ws-device-showcase img {
    height: auto;
    width: 300px;
  }
  .ws-explore-button {
    border-radius: 8px;
    scale: 0.7;
  }

  /* Weekly Subscription Section */
  .week-sub-section {
    height: 40vh;
  }
  .ws-section-header {
    height: 50%;
    width: 100%;
    align-items: center;
  }
  .ws-header-heading {
    font-size: 23px;
  }
  .ws-header-sub-text {
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
  }
  .week-section-form {
    height: 50%;
    width: 100%;
  }
  .ws-input {
    height: 25px;
    width: 300px;
    font-size: 11px;
  }
  .ws-submit {
    font-size: 9px;
  }
  .ws-section-housing {
    flex-direction: column;
  }

  /* Footer */
  .footer-half-1 {
    height: 49vh;
    padding: 4vw 0vw;
    flex-direction: column;
    gap: 30px;
  }
  .footer-links {
    width: 100%;
    padding-inline: 2vw;
  }
  .footer-link-section h3 {
    font-size: 14px;
    white-space: nowrap;
  }
  .footer-link a {
    font-size: 8px;
  }
  .footer-socials {
    width: 100%;
  }
  .fs-social-links {
    flex-direction: row;
  }
  .fs-title h3 {
    font-size: 17px;
  }
  .fs-social-links img {
    width: 20px;
  }
  .footer-half-2 {
    height: 51vh;
  }
  .footer-logo {
    height: 32px;
  }
  .footer-copyright-text {
    height: 30px;
  }
  .footer-copyright-text p {
    font-size: 8px;
    white-space: nowrap;
  }
  .footer-copyright-statement {
    font-size: 10px;
    white-space: nowrap;
  }

  /* Developer's Note */
  .developer-note {
    gap: 10px;
    padding-inline: 2vw;
  }
  .developer-note p {
    font-size: 11px;
    text-align: center;
  }
  .developer-note h4 {
    font-size: 24px;
  }
}

/* Extra Large Screen [Transition to Mobile] */
@media only screen and (max-width: 522px) {
  /* Header */
  .nmp-housing {
    height: fit-content;
    width: 100%;
    border-bottom-left-radius: 0px;
  }
  .navbar-menu-panel nav {
    flex-direction: row;
  }
  .navbar-menu-panel nav a {
    padding: 0;
  }
  .navbar-menu-panel nav hr,
  .navbar-menu-panel hr {
    display: none;
  }

  /* Quick Call Strip */
  .quick-call-strip {
    height: 60vh;
  }
  .quick-call-strip-housing {
    flex-direction: column;
  }
  #car-strip-icon {
    width: 110px;
  }
  #real-estate-strip-icon {
    width: 80px;
  }
  #watches-strip-icon {
    width: 90px;
  }
  #yachts-strip-icon {
    width: 90px;
  }
  #jets-strip-icon {
    width: 90px;
  }
  .qcs-hr {
    display: flex;
    width: 100%;
  }

  /* Monthly Selection Section */
  .monthly-selections-section {
    height: 65vh;
  }
  .monthly-selections-section-housing {
    padding-inline: 0;
  }
  .ms-cards-dragger {
    gap: 20px;
  }
  .ms-card-container {
    border: none;
  }
  .ms-section-heading {
    padding-inline: var(--inline-padding);
  }
  .ms-section-content {
    padding-inline: 10px;
  }
  .ms-section-card {
    height: 240px;
    width: 290px;
  }
  .ms-arrow-holder {
    display: none;
  }
  #ms-c-sub-title {
    font-size: 7px;
  }
  #ms-c-additional-info {
    font-size: 5px;
  }
  .ms-c-sub-heading {
    font-size: 5px;
  }
  .ms-c-title {
    font-size: 8px;
  }
  .ms-card-price {
    font-size: 14px;
  }
  .ms-card-button {
    height: 24px;
    width: 100px;
    font-size: 11px;
  }
  .ms-section-sub-text {
    font-size: 8px;
    text-align: center;
  }
  .ms-cards-dragger {
    padding-inline: 40px;
  }

  /* Featured Listings Section */
  .fls-filter-strip {
    display: none;
  }
  .fls-content-housing {
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
  #fls-card-8 {
    display: none;
  }
  #fls-card-7 {
    display: none;
  }

  /* Wallpaper Section */
  .wallpapers-section {
    /* height: 65vh; */
    height: 65vh;
    flex-direction: column;
  }
  .ws-heading {
    height: 40%;
    width: 100%;
    align-items: center;
  }
  .ws-sub-title p {
    font-size: 12px;
  }
  .ws-title h2 {
    font-size: 24px;
    text-align: center;
  }
  .ws-content {
    height: auto;
    width: 100%;
  }
  .ws-device-showcase img {
    height: auto;
    width: 300px;
  }
  .ws-explore-button {
    border-radius: 8px;
    scale: 0.7;
  }

  /* Week Subscription Section */
  .week-sub-section {
    height: 40vh;
  }
  .ws-section-header {
    height: 50%;
    width: 100%;
    align-items: center;
  }
  .ws-header-heading {
    font-size: 23px;
  }
  .ws-header-sub-text {
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
  }
  .week-section-form {
    height: 50%;
    width: 100%;
  }
  .ws-input {
    height: 25px;
    width: 300px;
    font-size: 11px;
  }
  .ws-submit {
    font-size: 9px;
  }
  .ws-section-housing {
    flex-direction: column;
  }

  /* Footer */
  .footer-half-1 {
    height: fit-content;
    padding: 4vw 0vw;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .footer-links {
    height: fit-content;
    width: fit-content;
    padding-inline: 2vw;
    display: grid;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
  .footer-link-section h3 {
    font-size: 14px;
    white-space: nowrap;
  }
  .footer-link a {
    font-size: 8px;
  }
  .footer-socials {
    width: 100%;
  }
  .fs-social-links {
    flex-direction: column;
  }
  .fs-title h3 {
    font-size: 14px;
  }
  .fs-social-links img {
    width: 20px;
  }
  .footer-half-2 {
    height: 51vh;
    flex-direction: column;
    gap: 6px;
  }
  .footer-logo {
    height: 32px;
  }
  .footer-copyright-text {
    height: 30px;
    text-align: center;
  }
  .footer-copyright-text p {
    font-size: 7px;
  }
  .footer-copyright-statement {
    font-size: 8px;
  }

  /* Developer's Note */
  .developer-note {
    gap: 10px;
    padding-inline: 2vw;
  }
  .developer-note p {
    font-size: 11px;
    text-align: center;
  }
  .developer-note h4 {
    font-size: 24px;
  }
}

/* Large Mobile Screens */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  /* Root */
  :root {
    --inline-padding: 5vw;
    --hero-cta-font: 11px;
    --section-headings-font: 20px;
  }

  /* Loader */
  .loader-text {
    font-size: 0.9rem;
  }

  /* Header */
  header {
    height: 7.5vh;
  }
  #header-logo-mini {
    width: 24px;
  }
  .navbar {
    display: none;
  }
  .navbar-menu {
    display: flex;
  }
  .header-search-unit-housing {
    display: none;
  }
  .header-search-unit-small {
    display: flex;
  }
  .header-search-unit-small img {
    height: 14px;
    width: 14px;
  }
  .navbar-menu img {
    height: 24px;
    width: auto;
  }
  .nmp-housing {
    border-bottom-left-radius: 0px;
    height: fit-content;
    width: 100%;
    padding: 0%;
  }
  .navbar-menu-panel nav {
    flex-direction: row;
  }
  .navbar-menu-panel nav a {
    padding: 0;
  }
  .navbar-menu-panel nav hr,
  .navbar-menu-panel hr {
    display: none;
  }

  /* Main */
  /* Hero Section */
  .hero-section {
    height: 55vh;
    width: 100%;
  }
  .hero-content-housing {
    /* justify-content: flex-end; */
    align-items: flex-start;
    padding-top: 4rem;
  }
  #hero-sub-heading {
    font-size: 20px;
  }
  #hero-heading {
    font-size: 27px;
    /* white-space: wrap; */
  }
  .cta-button-wrapper {
    height: 40px;
    width: 160px;
  }

  /* Monthly Selection Section */
  .monthly-selections-section {
    height: 65vh;
  }
  .monthly-selections-section-housing {
    padding-inline: 0;
  }
  .ms-cards-dragger {
    gap: 20px;
  }
  .ms-card-container {
    border: none;
  }
  .ms-section-heading {
    padding-inline: var(--inline-padding);
  }
  .ms-section-content {
    padding-inline: 10px;
  }
  .ms-section-card {
    height: 240px;
    width: 290px;
  }
  .ms-arrow-holder {
    display: none;
  }
  #ms-c-sub-title {
    font-size: 7px;
  }
  #ms-c-additional-info {
    font-size: 5px;
  }
  .ms-c-sub-heading {
    font-size: 5px;
  }
  .ms-c-title {
    font-size: 8px;
  }
  .ms-card-price {
    font-size: 14px;
  }
  .ms-card-button {
    height: 24px;
    width: 100px;
    font-size: 11px;
  }
  .ms-section-sub-text {
    font-size: 8px;
    text-align: center;
  }
  .ms-cards-dragger {
    padding-inline: 40px;
  }

  /* Featured Listings Section */
  .fls-filter-strip {
    display: none;
  }
  .fls-content-housing {
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
  #fls-card-8 {
    display: none;
  }
  #fls-card-7 {
    display: none;
  }

  /* Week Subscription Section */
  .week-sub-section {
    height: 40vh;
  }
  .ws-section-header {
    height: 40%;
    width: 100%;
    align-items: center;
  }
  .ws-header-heading {
    font-size: 19px;
  }
  .ws-header-sub-text {
    font-size: 9px;
    text-align: center;
    white-space: nowrap;
  }
  .week-section-form {
    height: 50%;
    width: 100%;
  }
  .ws-input {
    height: 25px;
    width: 300px;
    font-size: 11px;
  }
  .ws-submit {
    font-size: 9px;
  }
  .ws-section-housing {
    flex-direction: column;
  }

  /* Footer */
  .footer-half-1 {
    height: fit-content;
    padding: 6vw 0vw;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .footer-links {
    height: fit-content;
    width: fit-content;
    padding-inline: 2vw;
    display: grid;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
  .footer-link-section h3 {
    font-size: 14px;
    white-space: nowrap;
  }
  .footer-link a {
    font-size: 8px;
  }
  .footer-socials {
    width: 100%;
  }
  .fs-social-links {
    flex-direction: column;
  }
  .fs-title h3 {
    font-size: 14px;
    white-space: nowrap;
  }
  .fs-social-links img {
    width: 18px;
  }
  .footer-half-2 {
    height: 51vh;
    flex-direction: column;
    gap: 6px;
  }
  .footer-logo {
    height: 32px;
  }
  .footer-copyright-text {
    height: 30px;
    text-align: center;
  }
  .footer-copyright-text p {
    font-size: 7px;
  }
  .footer-copyright-statement {
    font-size: 8px;
  }

  /* Developer's Note */
  .developer-note {
    gap: 10px;
    padding-inline: 2vw;
  }
  .developer-note p {
    font-size: 9px;
    text-align: center;
  }
  .developer-note h4 {
    font-size: 18px;
  }
}

/* Medium Moblie Screens */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  /* Root */
  :root {
    --inline-padding: 5vw;
    --hero-cta-font: 9px;
    --section-headings-font: 18px;
  }

  /* Loader */
  .loader-text {
    font-size: 0.8rem;
  }

  /* Header */
  header {
    height: 7.5vh;
  }
  #header-logo-mini {
    width: 24px;
  }
  .navbar {
    display: none;
  }
  .navbar-menu {
    display: flex;
  }
  .header-search-unit-housing {
    display: none;
  }
  .header-search-unit-small {
    display: flex;
  }
  .header-search-unit-small img {
    height: 14px;
    width: 14px;
  }
  .navbar-menu img {
    height: 23px;
    width: auto;
  }
  .nmp-housing {
    border-bottom-left-radius: 0px;
    height: fit-content;
    width: 100%;
  }
  .navbar-menu-panel nav {
    flex-direction: row;
    padding: 10% 0;
  }
  .navbar-menu-panel nav a {
    padding: 5%;
  }
  .navbar-menu-panel nav hr,
  .navbar-menu-panel hr {
    display: none;
  }

  /* Main */
  /* Hero Section */
  .hero-section {
    height: 50vh;
    width: 100%;
  }
  .hero-content-housing {
    align-items: flex-start;
  }
  #hero-sub-heading {
    font-size: 14px;
  }
  #hero-heading {
    font-size: 22px;
  }
  .cta-button-wrapper {
    height: 30px;
    width: 130px;
  }

  /* Monthly Selection Section */
  .monthly-selections-section {
    height: 65vh;
  }
  .monthly-selections-section-housing {
    padding-inline: 0;
  }
  .ms-cards-dragger {
    gap: 20px;
  }
  .ms-card-container {
    border: none;
  }
  .ms-section-heading {
    padding-inline: var(--inline-padding);
  }
  .ms-section-content {
    padding-inline: 10px;
  }
  .ms-section-card {
    height: 240px;
    width: 270px;
  }
  .ms-arrow-holder {
    display: none;
  }
  #ms-c-sub-title {
    font-size: 7px;
  }
  #ms-c-additional-info {
    font-size: 5px;
  }
  .ms-c-sub-heading {
    font-size: 5px;
  }
  .ms-c-title {
    font-size: 8px;
  }
  .ms-card-price {
    font-size: 14px;
  }
  .ms-card-button {
    height: 23px;
    width: 100px;
    font-size: 11px;
  }
  .ms-section-sub-text {
    font-size: 8px;
    text-align: center;
  }
  .ms-cards-dragger {
    padding-inline: 10px;
  }

  /* Featured Listings Section */
  .fls-filter-strip {
    display: none;
  }
  .fls-content-housing {
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
  #fls-card-8 {
    display: none;
  }
  #fls-card-7 {
    display: none;
  }

  /* Wallpaper Section */
  .wallpapers-section {
    /* height: 65vh; */
    height: 55vh;
    flex-direction: column;
  }
  .ws-heading {
    height: 30%;
    width: 100%;
    align-items: center;
  }
  .ws-sub-title p {
    font-size: 9px;
  }
  .ws-title h2 {
    font-size: 20px;
    text-align: center;
  }
  .ws-content {
    height: auto;
    width: 100%;
  }
  .ws-device-showcase img {
    height: auto;
    width: 280px;
  }
  .ws-explore-button {
    border-radius: 8px;
    scale: 0.6;
  }

  /* Week Subscription Section */
  .week-sub-section {
    height: 40vh;
  }
  .ws-section-header {
    height: 40%;
    width: 100%;
    align-items: center;
  }
  .ws-header-heading {
    font-size: 16px;
  }
  .ws-header-sub-text {
    font-size: 7px;
    text-align: center;
    white-space: nowrap;
  }
  .week-section-form {
    height: 50%;
    width: 100%;
  }
  .ws-input {
    height: 25px;
    width: 230px;
    font-size: 11px;
  }
  .ws-submit {
    font-size: 9px;
  }
  .ws-section-housing {
    flex-direction: column;
  }

  /* Footer */
  .footer-half-1 {
    height: fit-content;
    padding: 6vw 0vw;
    flex-direction: row;
    align-items: center;
  }
  .footer-links {
    height: fit-content;
    width: fit-content;
    padding-inline: 2vw;
    display: grid;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
    gap: 30px;
  }
  .footer-link-section h3 {
    font-size: 14px;
    white-space: nowrap;
  }
  .footer-link a {
    font-size: 8px;
  }
  .footer-socials {
    width: 100%;
    display: none;
  }
  .footer-half-2 {
    height: 51vh;
    flex-direction: column;
    gap: 6px;
  }
  .footer-logo {
    height: 32px;
  }
  .footer-copyright-text {
    height: 30px;
    text-align: center;
  }
  .footer-copyright-text p {
    font-size: 7px;
  }
  .footer-copyright-statement {
    font-size: 8px;
  }

  /* Developer's Note */
  .developer-note {
    gap: 10px;
    padding-inline: 2vw;
  }
  .developer-note p {
    font-size: 9px;
    text-align: center;
  }
  .developer-note h4 {
    font-size: 18px;
  }
}

/* Small Moblie Screens */
@media only screen and (max-width: 320px) {
  /* Root */
  :root {
    --inline-padding: 3vw;
    --hero-cta-font: 8px;
    --section-headings-font: 14px;
  }

  /* Loader */
  .loader-text {
    font-size: 0.7rem;
  }

  /* Header */
  header {
    height: 8vh;
  }
  #header-logo-mini {
    width: 20px;
  }
  .navbar {
    display: none;
  }
  .navbar-menu {
    display: flex;
  }
  .header-search-unit-housing {
    display: none;
  }
  .header-search-unit-small {
    display: flex;
  }
  .header-search-unit-small img {
    height: 14px;
    width: 14px;
  }
  .navbar-menu img {
    height: 22px;
    width: auto;
  }
  .nmp-housing {
    border-bottom-left-radius: 0px;
    height: fit-content;
    width: 100%;
  }
  .navbar-menu-panel nav {
    flex-direction: row;
    padding: 10% 0;
  }
  .navbar-menu-panel nav a {
    padding: 2%;
  }
  .navbar-menu-panel nav hr,
  .navbar-menu-panel hr {
    display: none;
  }

  /* Main */
  /* Hero Section */
  .hero-section {
    height: 50vh;
    width: 100%;
  }
  .hero-content-housing {
    align-items: center;
  }
  #hero-sub-heading {
    font-size: 11px;
  }
  #hero-heading {
    font-size: 16px;
    /* white-space: wrap; */
  }
  .cta-button-wrapper {
    height: 30px;
    width: 140px;
  }

  /* Quick Call Strip */
  .quick-call-strip {
    height: 60vh;
  }
  #car-strip-icon {
    width: 70px;
  }
  #real-estate-strip-icon {
    width: 50px;
  }
  #watches-strip-icon {
    width: 50px;
  }
  #yachts-strip-icon {
    width: 70px;
  }
  #jets-strip-icon {
    width: 70px;
  }

  /* Monthly Selection Section */
  .monthly-selections-section {
    height: 65vh;
  }
  .monthly-selections-section-housing {
    padding-inline: 0;
  }
  .ms-cards-dragger {
    gap: 20px;
  }
  .ms-card-container {
    border: none;
  }
  .ms-section-heading {
    padding-inline: var(--inline-padding);
  }
  .ms-section-content {
    padding-inline: 10px;
  }
  .ms-section-card {
    height: 230px;
    width: 260px;
  }
  .ms-arrow-holder {
    display: none;
  }
  #ms-c-sub-title {
    font-size: 7px;
  }
  #ms-c-additional-info {
    font-size: 5px;
  }
  .ms-c-sub-heading {
    font-size: 5px;
  }
  .ms-c-title {
    font-size: 8px;
  }
  .ms-card-price {
    font-size: 14px;
  }
  .ms-card-button {
    height: 20px;
    width: 100px;
    font-size: 11px;
  }
  .ms-section-sub-text {
    font-size: 8px;
    text-align: center;
  }
  .ms-cards-dragger {
    padding-inline: 40px;
  }

  /* Featured Listings Section */
  .fls-filter-strip {
    display: none;
  }
  .fls-content-housing {
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
  #fls-card-8 {
    display: none;
  }
  #fls-card-7 {
    display: none;
  }

  /* Week Subscription Section */
  .week-sub-section {
    height: 40vh;
  }
  .ws-section-header {
    height: 40%;
    width: 100%;
    align-items: center;
  }
  .ws-header-heading {
    font-size: 16px;
  }
  .ws-header-sub-text {
    font-size: 7px;
    text-align: center;
    white-space: nowrap;
  }
  .week-section-form {
    height: 50%;
    width: 100%;
  }
  .ws-input {
    height: 25px;
    width: 230px;
    font-size: 11px;
  }
  .ws-submit {
    font-size: 9px;
  }
  .ws-section-housing {
    flex-direction: column;
  }

  /* Footer */
  .footer-half-1 {
    height: fit-content;
    padding: 6vw 0vw;
    flex-direction: row;
    align-items: center;
  }
  .footer-links {
    height: fit-content;
    width: fit-content;
    padding-inline: 2vw;
    display: grid;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
    gap: 30px;
  }
  .footer-link-section h3 {
    font-size: 14px;
    white-space: nowrap;
  }
  .footer-link a {
    font-size: 8px;
  }
  .footer-socials {
    width: 100%;
    display: none;
  }

  /* Developer's Note */
  .developer-note {
    gap: 10px;
    padding-inline: 2vw;
  }
  .developer-note p {
    font-size: 9px;
    text-align: center;
  }
  .developer-note h4 {
    font-size: 18px;
  }
}
